<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<section id="contactForm" class="container">
		<form action="#">
			<label for="contactName">Name</label>
			<input id="contactName" name="name" type="text" placeholder="Your name...">
			<label for="contactEmail">Email</label>
			<input id="contactEmail" name="email" type="text" placeholder="Your e-mail...">
			<label for="contactMsg">Message</label>
			<textarea id="contactMsg" name="message" type="text"></textarea>
			<input type="submit" value="Submit">
		</form>
	</section>
</body>
</html>
